@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;

@font-face {
	font-family: 'HallymGothic-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}
html, body {
	height: 100%;
	font-family: HallymGothic-Regular;
}

.mainicon {
	width: 75px;
	height: 55px;
}

.modalbox {
	height: 40px;
}

.modal-body {
	height: 120px;
}

.searchbox {
	max-width: 100px;
	background-image: url('images/searchicon.svg');
}

.search-btn1 {
	color: white;
	width: 40px;
	height: 30px;
}

.search-btn:hover {
	background: #505050;
	color: white;
}

.search-btn2 {
	width: 90%;
	background-color: #333;
	color: white;
	margin: 0 auto;
	background-color: #333;
}

.search-btn2:hover {
	background: #505050;
	color: white;
}
