@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;

@font-face {
	font-family: 'HallymGothic-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}
html, body {
	height: 100%;
	font-family: HallymGothic-Regular;
}

.carouselbox {
	margin: 0 auto;
	width: 90%;
	height: 450px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.slide-img {
	height: 450px;
}

.img-container {
	width: 95%;
	margin: 0 auto;
	margin-bottom: 40px;
}

h2, h4, h5 {
	text-align: center;
}

.middle-container {
	height: 600px;
	background-color: #F1F8FF;
}

.card-container {
	width: 95%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.accent {
	background-color: #16479D;
	color: white;
}

.text-box {
	height: 230px;
}

.card-title {
	font-weight: bold;
}

.card-text {
	color: gray;
	font-weight: bold;
}